
.hero {
    background-color: rgb(235, 235, 235);
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.hero-div {
    
    flex: 1;
    max-width: 40rem;
    height: 100%;
}

.hero-div__text {
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-div__text:first-child {
    margin-right: 5rem;
}

.hero-div__text--header {
    color: #a2d2ff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;
    font-size: 3rem;
    line-height: 1.3;
    border-bottom: .2rem solid #a2d2ff;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.hero-div__text--description {
    color: var(--color-dark);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 1.5;
}

.hero-div__text__button {
    font-family: var(--font-primary);
    color: var(--color-light);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    height: 5rem;
    margin-top: 5rem;
    padding: 0 2rem;
}

.hero__image {
    margin-top: 2rem;
    height: 100%;
    filter: drop-shadow(0 0 0.75rem black);
}


@media only screen and (max-width: 1000px) {
    .hero-div {
        max-width: 100%;
    }

    .hero-div__text:first-child {
        margin-right: 0;
        padding: 0 50px;
    }

    .hero-div__image {
        display: none;
    }
}