.login-form {
    background-color: white;
    min-height: 100vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.login-form__close-button {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.login-form__close-button--icon{
    font-size: 2rem;
}

.login-form__logo {
    width: 30rem;
    margin-bottom: 5rem;
}


.login-form__inner-container {
   
    width: 100%;
    max-width: 40rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
}

.login-form__icon {
    background-color: var(--color-primary);
    min-width: 6rem;
    min-height: 6rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.login-form__icon--icon {
    color: var(--color-light);
    font-size: 3rem;
}

.login-form__header {
    margin-bottom: 5rem;
    position: relative;
}

.login-form__header--hr {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: .1rem solid var(--color-primary);
}

.login-form__header--title {
    background-color: var(--bg-color-light);
    padding: 0 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.login-form__header--title h2 {
    color: var(--color-primary);
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}

.login-form__content {
    display: flex;
    flex-direction: column;
}

.input-container {
    width: 100%;
    height: 5rem;
    margin-bottom: 2rem;
    position: relative;
}

.input-container__input {
    font-family: var(--font-primary);
    color:#cdb4db;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 5rem;
    border: 1px solid #cdb4db;
}

.input-container__input::placeholder {
    color:#cdb4db;
    opacity: 50%;
    font-weight: 200;
}

.input-container__icon {
    color: #cdb4db;
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.login-form__text--button {
    font-size: 1.6rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    color:#cdb4db;
}

.login-form__button {
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.login-form__text {
    color:#cdb4db;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    text-align: center;
}