.basket {
    background-color: white;
    width: 500px;
    min-height: 95vh;
    /* padding: 40px; */
    position: absolute;
    top: 2.5vh;
    right: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 90;
    display: flex;
    flex-direction: column;
}

.basket__close-button {
    background-color:  #ffafcc;
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 4rem;
    height: 4rem;
    border-radius: 0;
}

.basket__close-button--icon {
     color: #ffafcc;
    font-size: 2.4rem;
}

.basket__header {
    color:#cdb4db;
    font-size: 3.6rem;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 40px 20px 40px;
}

.basket__content {
    flex: 1;
    min-height: 300px;
    max-height: 450px;
    margin: 10px 0;
    padding: 0 40px;
  
    overflow-y: scroll;

}

.basket__summary {
    padding: 20px 40px;
}

.summary__details {
    display: flex;
    justify-content: space-between;
 
    margin-bottom: 20px;
}

.summary__details--text {
    color:#cdb4db;
    font-size: 2.6rem;
    font-weight: 600;
}

.summary__button {
    padding: 1.5rem 3rem;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary__button--text {
    font-family: var(--font-primary);
    color: var(--color-light);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
}

.summary__button--icon {
    font-size: 2rem;
    margin-right: 10px;
}

.basket-card {
  
    width: 100%;
    min-height: 140px;
    padding: 10px 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 2.5fr 1fr;
}

.basket-card__image-container {
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-card__image {
    max-width: 80%;
    max-height: 120px;
}

.basket-card__details-container {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
}

.basket-card__title {
    color: #cdb4db;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}

.basket-card__price {
    color: #cdb4db;
    font-size: 2.4rem;
    font-weight: 900;
    margin-top: 20px;
}

.basket-card__button-container {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-card__delete-button {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-card__delete-button--icon {
    font-size: 2rem;
}